/* COMMUN */
body {
    margin: 0;
    height: 100%; 
    overflow-y: hidden;
    user-select: unset;
}
.cadre {
    font-family: 'Menu';
    border-image: url("");
    border-image: url('img/cadre.png') round;
    border-image-slice: calc(50 / 184 * 100%) calc(80 / 284 * 100%) fill;
    border-image-width: 30px 48px;
    width: 75vw;
    height: 12vh;
    font-size: calc(min(5.5vw,3.5vh));
    text-align: center;
}
.back {
    color: white;
    background-color: rgb(101, 91, 166);
    border-radius: 50%;
    width: 10vh;
    height: 10vh;
    animation: bordure_ocillante 2s infinite ease-in-out;
    font-size: 5vh;
    transition: transform 0.4s;
}
.cadre, .back {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
}
.back:hover {
    transform: scale(1.1);
    font-size: 4vh;
    animation: none;
}
.ecran {
    display: none;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}
/*polices*/
@font-face {
    font-family: 'Digital';
    src: url('../font/Digital.ttf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Menu';
    src: url('../font/Menu.otf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Tableau';
    src: url('../font/Tableau.ttf');
    font-weight: 400;
    font-style: normal;
}
/* animations */
.apparition {
    animation: creation 0.5s ;
}
@keyframes creation {
    from { transform: scale(0, 0);}
    25% { transform: scale(1.2, 1.2); }
    50% { transform: scale(0.9, 0.9); }
    75% { transform: scale(1.05, 1.05); }
    to { transform: scale(1, 1); }
}

.secoue:hover {
    animation: survol 0.25s;
}
@keyframes secoue {
    from { transform: rotate(0deg);}
    25% { transform: rotate(2deg); }
    50% { transform: rotate(-2deg); }
    75% { transform: rotate(2deg); }
    to { transform: rotate(0deg); }
}

.zoom {
    animation: zoom 0.5s;
}
@keyframes zoom {
    from { transform: scale(1); opacity: 100%;}
    to { transform: scale(10); opacity: 50%;}
}

.entree {
    animation: entree 1s ease-out;
}
@keyframes entree {
    from { translate: 100vw;}
    to {translate: 0;}
}
@keyframes bordure_ocillante {
    to { filter: drop-shadow(0px 0px 10px #fff)}
    50% { filter: drop-shadow(0px 0px 2px #fff)}
    from { filter: drop-shadow(0px 0px 10px #fff)}
}
@keyframes bordure_grossissante {
    from { transform: scale(1); }
    to { transform: scale(1.1); }
}

/* ECRAN JEUX */
#jeux {
    background-repeat: repeat;
    background-image: url("img/bois4.jpg");
    background-size: initial;
    display: flex;
}

#jeux #msg_choix {
    display: flex;
    align-items: center;
    height: 10vh;
    font-size: 5vh;
    color: rgb(255, 241, 193);
    text-shadow: 5px 5px #2e1f1f;
}

#jeux .selection_jeu {
    width: 100vw;
    height: 75vh;
    display: flex;
    flex-direction: row;    
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;    
}
#jeux img.jeu {
    border: solid 4px black;
    border-radius: 6px;
    max-width: 45vw;
    max-height: 35vh;
    cursor: pointer;
}

#jeux #lien_pc {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#jeux #lien_pc div {
    background-color: beige;
    font-size: calc(min(3.5vw,3vh));
    border: solid 2px black;
    border-radius: 2px;
    padding: 0.5em;
    max-width: 70vw;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
} 
#jeux #lien_pc img {
    max-height: 15vh;
    max-width: 20vw;
}

/* CHRONO */
.conseil {
    font-family: initial;
    font-size: calc(min(4vw,2.5vh));
}
.chrono {
    flex-direction: column;
    height: auto;    
    padding: 0.5em;
}
#temps-chrono {
    border: antiquewhite 3px inset;
    background-color: black;
    color: antiquewhite;
    font-family: 'Digital';
    font-size: 8vh;
    padding: 0 4vw;
}
#temps-chrono.en-cours {
    color: greenyellow;
}
#limite-chrono {
    height: 5vh;
    width: 60vw;
}
#boutons-chrono {
    font-family: 'Menu';
    font-size: 3.3vw;
    display: flex;
    flex-direction: row;
}
#start-chrono {
    border: antiquewhite 3px outset;
    border-radius: 20%;
    background-color: green;
    width: 30vw;
    height: 8vh;    
    display: flex;
    align-items: center;
    justify-content: center;
}
#reset-chrono {
    border: antiquewhite 3px outset;
    border-radius: 20%;
    background-color: red;
    width: 30vw;
    height: 8vh;    
    display: flex;
    align-items: center;
    justify-content: center;}

/* VIDEO */
.video {
    flex-direction: column;
    height: auto;    
    padding: 0.5em;    
}
#lien-video {
    width: 60vw;
    height: 20vh;
    background-color: inherit;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
#lien-video img {
    height: 70%;
}
/* MINIJEUX */
#minijeux{
    flex-direction: row;
    flex-wrap: wrap;
}
#minijeux .cadre {
    width: 48vw;
    height: 25vh;
    flex-direction: column;
}
#minijeux .info-jeu {
    font-family: initial;
    font-size: 3vw;
}
#minijeux img {
    max-height: 15vh;
    max-width: calc(min(92%,40vh));
}
/* CONTACT */
#contact img {
    max-height: 15vh;
    max-width: 40vh;
}
#contact .cadre {
    width: 85vw;
    height: 55vh;
    font-family: initial;
    font-size: 5vw;
    font-size: calc(min(5vw,5vh));
    flex-direction: column;
    padding: 2vh;
}
/* PARCOURS D'APPRENTISSAGE */
#apprentissage .tableau {
    border-image: url("img/tableau.png") 32/16px;
    width: 70vw;
    height: 50vh;
    font-family: 'Tableau';
    font-size: calc(min(4vh,8vw));
    color: whitesmoke;
    background: black;
    padding: 1em;
    position: relative;
}
#apprentissage #tuteur {
    position: absolute;
    bottom: calc(15px - min(35vh,35vw) * 0.23);
    height: calc(min(35vh,35vw));
    right: 1vw;
}
#apprentissage .gobutton {
    position: absolute;
    bottom: 6vh;
    background-color: purple;
    border: 3px white outset;
    cursor: pointer;
}
/* RESUME */
#resume img {
    width: 90vw;
}
/* FOND D'ECRANS */
.ecran {
    background-color: black;
    background-position-x: center;
    background-size: auto 100%;
}
.ecran.jeux {
    background-repeat: no-repeat;
}
.ecran.taphe {
    background-image: url("img/fond_taphe.jpg");
    background-size: 150%;
    background-repeat: repeat;
}
.ecran.train {
    background-image: url("img/fond_train.jpg");
    background-repeat: no-repeat;
}
.ecran.lile {
    background-image: url("img/fond_lile.jpg");
}
.ecran.homophones {
    background-image: url("img/fond_homophones.jpg");
    background-repeat: no-repeat;
}